<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>leafsha.de - <%= subtitle %></title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="javascripts/tinycolor.js"></script>
<script src="javascripts/script.js"></script>
<link rel="stylesheet" href="stylesheets/reset.css" />
<link rel="stylesheet" href="stylesheets/main.css" />
</head>
<body>
<h1>
    leafsha.de
</h1>
<div id="band">
    <div id="band1"></div>
    <div id="band2"></div>
    <div id="band3"></div>
    <div id="band4"></div>
    <div id="band5"></div>
</div>
</body>
</html>
