doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title leafsha.de - 
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='/javascripts/masonry.pkgd.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		script(src='/javascripts/tinycolor.js')
		script(src='/javascripts/script.js')
	body
		h1
			| leafsha.de
		#container
			include inc/menu
			block content
		#band
			#band1
			#band2
			#band3
			#band4
			#band5


